{% extends 'mi_app/base.html' %}

{% block contenido %}


     <h1>Resultados</h1>
    {% if formulario_data %}
    <p>Felicidades {{  formulario_data.nombre }} tu superheroe es: </p>
    <ul>
    <p>{{ heroe.nombre }}</p>
    <p>{{ heroe.poder }}</p>
    <p>{{ heroe.debilidad }}</p>
    <img src="{{ heroe.imagen }}">


    </ul>
    {% for heroe in superheroe %}

    <div class="container">
        <div class="row">
            <div class="col">{{ heroe.nombre }}</div>
        </div>
        <div class="row">
            <div class="col">Tu poder es</div>
            <div class="col">{{ heroe.poder }}</div>
        </div>
        <div class="row">
            <div class="col">Tu debilidad es</div>
            <div class="col">{{ heroe.debilidad }}</div>
        </div>
        <div class="row">
            <div class="col"><img src="{{ heroe.imagen }}"></div>
        </div>
        
    </div>
    {% endfor %}


    {% else %}
    <p>No se han recibido datos del formulario.</p>
    {% endif %}
    



{% endblock %}