.carousel-item img {
    width: 100%; /* Ajustar al ancho del contenedor */
    height: 450px; /* Altura específica */
    object-fit: cover; /* Escalar la imagen manteniendo la relación de aspecto y recortando si es necesario */
}